<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839520221910-458hc61eit2qi4vf47mm8ucjpe91llin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839520221910-458hc61eit2qi4vf47mm8ucjpe91llin</string>
	<key>API_KEY</key>
	<string>AIzaSyChqKkvXxBAbvDrEdc6jKEV4wrtvM7sn2M</string>
	<key>GCM_SENDER_ID</key>
	<string>839520221910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minori.test.ptMinori</string>
	<key>PROJECT_ID</key>
	<string>pt-minori</string>
	<key>STORAGE_BUCKET</key>
	<string>pt-minori.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839520221910:ios:24fe278ed39867b9666777</string>
</dict>
</plist>